<section class="section-reviews">
  <br> <br>
  <a routerLink="/tours/{{tourId}}/reviews/createReview" class="btn btn-primary" *ngIf="user">create review</a>
  <a routerLink="/auth/login" class="btn btn-primary" *ngIf="!user">login to create review</a>

    <div class="reviews">
      <div class="reviews__card" *ngFor="let rev of reviews">
        <div class="reviews__avatar">
          <img
            src="https://res.cloudinary.com/arpit7xx/image/upload/v{{rev.writer.imgVersion}}/{{rev.writer.imgId}}"
            alt=""
            class="reviews__avatar-img"
          />
          <h2 class="reviews__user">{{rev.writer.username}}</h2>
        </div>
        <p class="reviews__text">
         {{rev.name}} 
        </p>
        <div class="reviews__rating" *ngFor="let rat of ratings">
          <svg class="reviews__star reviews__star--active" *ngIf="rat <= rev.rating"> 
            <use xlink:href="./../../../assets/img/icons.svg#icon-star" ></use>
          </svg> 
          <svg class="reviews__star reviews__star--inactive" *ngIf="rat > rev.rating"> 
            <use xlink:href="./../../../assets/img/icons.svg#icon-star" ></use>
          </svg> 
        </div>
        <br>
        <div *ngIf="user">
          <a  routerLink="/tours/{{tourId}}/reviews/createReview/{{rev._id}}" class="btn btn--green btn--small" *ngIf="rev.writer.username === user.username">edit your review</a>
          <br> <br>
          <button class="btn btn--red btn--small" (click)="deleteReview(rev.tour._id, rev._id)" *ngIf="rev.writer.username === user.username">delete your review</button>
        </div>
      </div>
    </div>
  </section>
