<h2>register</h2>

<form class="form-group" #formInput="ngForm" novalidate>
    <input class="form-control" type="text" name="username" required [(ngModel)]="user.username" placeholder="username">
    <br>
    <input class="form-control" type="password" name="password" placeholder="password"
    [(ngModel)]="user.password" required #pass="ngModel" minlength="5"> 
    <div class="danger" *ngIf="pass.invalid && pass.dirty">
        <div *ngIf="pass.errors.required">required field...</div>
        <div *ngIf="pass.errors.minlength">password too short...</div>
    </div>
    <br>
    <input type="text" name="email" required [(ngModel)]="user.email" email placeholder="email" #email="ngModel">
    <div class="danger" *ngIf="email.invalid && email.dirty">
        <div *ngIf="email.errors.required">required field</div>
        <div *ngIf="email.errors.email">invalid email</div>
    </div>
    <br>
    <button class="btn btn-primary" (click) ="register($event)" [disabled]="formInput.invalid" [hidden]="submitting">register</button>

    <button class="btn btn-info" [hidden]="!submitting">registering...</button>
</form>

<a routerLink='/auth/login'>already register? now login</a>
