<h2>create tour </h2>

<form class="form-group" #tourForm="ngForm">
    <label for="name">name</label>
    <input class="form-control" type="text" placeholder="name" name="name" [(ngModel)]="tour.name">

    <label for="duration">duration</label>
    <input class="form-control" type="number" placeholder="duration" name="duration" [(ngModel)]="tour.duration">

    <label for="price">price</label>
    <input class="form-control" type="number" placeholder="price" name="price" [(ngModel)]="tour.price">

    <label for="summary">summary</label>
    <input class="form-control" type="text" placeholder="summary" name="summary" [(ngModel)]="tour.summary" required>

    <label for="difficulty">difficulty</label> <br>
    <input type="radio" name="difficulty" value="easy" [(ngModel)]="tour.difficulty">
    <label for="easy">easy</label><br>
    <input type="radio"  name="difficulty" value="medium" [(ngModel)]="tour.difficulty">
    <label for="medium">medium</label><br>
    <input type="radio"  name="difficulty" value="difficult"  [(ngModel)]="tour.difficulty">
    <label for="difficult">difficult</label><br>

    <label for="maxGroupSize">maxGroupSize</label>
    <input class="form-control" type="number" placeholder="maxGroupSize" name="maxGroupSize"
        [(ngModel)]="tour.maxGroupSize">


    <!-- <label for="image">Choose Image</label>
    <input class="form-control" type="file" name="image" (change)="fileChanged($event)"> -->
    <button *ngIf="!submitting" [disabled]="tourForm.invalid" class="btn btn-primary" (click)="createTour()">submit</button>
    <button disabled *ngIf="submitting" class="btn btn-info">submiting...</button>
</form>