<div class="user-view">
<nav class="user-view__menu">
    <ul class="side-nav">
        <li class="side-nav--active"><a routerLink="/users/updateMe/{{user._id}}"><svg>
                    <use xlink:href="./../../../assets/img/icons.svg#icon-settings"></use>
                </svg>Settings</a></li>
        <!-- <li><a routerLink="/users/myReviews"><svg>
                    <use xlink:href="./../../../assets/img/icons.svg#icon-star"></use>
                </svg>My reviews</a></li> -->
        <li><a routerLink="/users/changePassword"><svg>
                    <use xlink:href="./../../../assets/img/icons.svg#icon-credit-card"></use>
                </svg>Change Password</a></li>
    </ul>
    
<a routerLink="/tours/getTours" class="btn btn-primary">go back</a>
</nav>
<div class="user-view__content">

<!-- profile code here -->
<h1>User Details</h1>
<div class="card">
    <img src="https://res.cloudinary.com/arpit7xx/image/upload/v{{user.imgVersion}}/{{user.imgId}}" alt="Avatar" style="width:50%">
    <div class="container">
      <h4><b>Name: {{user.username}}</b></h4>
      <h4><b>Email: {{user.email}}</b></h4>
      <h4><b>Role: {{user.role}}</b></h4>      
    </div>
  </div>

</div>


