<div class="user-view">
  <div class="user-view__content">
<nav class="user-view__menu">
    <ul class="side-nav">
        <li class="side-nav--active"><a routerLink="/users/updateMe/{{user._id}}"><svg>
                    <use xlink:href="./../../../assets/img/icons.svg#icon-settings"></use>
                </svg>Settings</a></li>
        <li><a routerLink="#"><svg>
                    <use xlink:href="./../../../assets/img/icons.svg#icon-briefcase"></use>
                </svg>My bookings</a></li>
        <li><a routerLink="#"><svg>
                    <use xlink:href="./../../../assets/img/icons.svg#icon-star"></use>
                </svg>My reviews</a></li>
        <li><a routerLink="/users/changePassword"><svg>
                    <use xlink:href="./../../../assets/img/icons.svg#icon-credit-card"></use>
                </svg>Change Password</a></li>
    </ul>
    <div class="admin-nav" *ngIf="user.role === 'admin'">
        <h5 class="admin-nav__heading">Admin</h5>
        <ul class="side-nav">
            <li><a routerLink="#"><svg>
                        <use xlink:href="./../../../assets/img/icons.svg#icon-map"></use>
                    </svg>Manage tours</a></li>
            <li><a routerLink="#"><svg>
                        <use xlink:href="./../../../assets/img/icons.svg#icon-users"></use>
                    </svg>Manage users</a></li>
            <li><a routerLink="#"><svg>
                        <use xlink:href="./../../../assets/img/icons.svg#icon-star"></use>
                    </svg>Manage reviews</a></li>
        </ul>
    </div>
</nav>
<!-- profile code here -->
<a routerLink="/tours/getTours" class="btn btn-primary">go back</a>
  </div></div>
