<main class="main">
    <div class="login-form">
        <h2 class="heading-secondary ma-bt-lg">reset password </h2>
        <form class="form" #formInput="ngForm" novalidate>
            
                <div class="form__group ma-bt-md">
                    <label class="form__label" for="password">Password</label>
                    <input class="form__input"  type="password" name="password" placeholder="password"
                    [(ngModel)]="user.password" required #pass="ngModel" minlength="5"></div>
                    <div class="danger" *ngIf="pass.invalid && pass.dirty">
                        <div *ngIf="pass.errors.required">required field...</div>
                        <div *ngIf="pass.errors.minlength">password too short...</div>
                    </div>
          

                    <div class="form__group ma-bt-md">
                        <label class="form__label" for="password">Confirm Password</label>
                        <input class="form__input"  type="password" name="password" placeholder="password"
                        [(ngModel)]="user.passwordConfirm" required #pass="ngModel" minlength="5"></div>
                        <div class="danger" *ngIf="pass.invalid && pass.dirty">
                            <div *ngIf="pass.errors.required">required field...</div>
                            <div *ngIf="pass.errors.minlength">password too short...</div>
                        </div>
                   
              
            <div class="form__group">
                <button class="btn btn--green" (click) ="submit()" [disabled]="formInput.invalid" [hidden]="submitting">submit</button>
                <button class="btn btn--green" [hidden]="!submitting">submitting...</button></div>
        </form>
    </div>
<a routerLink='/auth/login'>already register? now login</a>

</main>