<main class="main">
    <div class="login-form">
        <h2 class="heading-secondary ma-bt-lg">write your email to reset password</h2>
        <form class="form" #formInput="ngForm" novalidate>
                   
            <div class="form__group ma-bt-md">
                <div class="form__group">
                    <label class="form__label" for="email">email</label>
                    <input class="form__input" name="email" required [(ngModel)]="user.email" email placeholder="email" #email="ngModel"></div>
                    <div class="danger" *ngIf="email.invalid && email.dirty">
                        <div *ngIf="email.errors.required">required field</div>
                        <div *ngIf="email.errors.email">invalid email</div>
                    </div>
              
            <div class="form__group">
                <button class="btn btn--green" (click) ="forgotPassword()" [disabled]="formInput.invalid" [hidden]="submitting">submit</button></div>
                <button class="btn btn--green" [hidden]="!submitting">submitting...</button></div>
        </form>
    </div>
<a routerLink='/auth/login'>back to login</a>

</main>