<app-header></app-header>
    <section class="section-description">
      <div class="overview-box">
        <div>
          <div class="overview-box__group">
            <h2 class="heading-secondary ma-bt-lg">Quick facts</h2>
            <div class="overview-box__detail">
              <svg class="overview-box__icon">
                <use xlink:href="./../../../assets/img/icons.svg#icon-calendar"></use>
              </svg>
              <span class="overview-box__label">Start date</span>
              <span class="overview-box__text">{{tour.startDate | date: 'dd/MM/yyyy'}}</span>
            </div>
            <div class="overview-box__detail">
              <svg class="overview-box__icon">
                <use xlink:href="./../../../assets/img/icons.svg#icon-trending-up"></use>
              </svg>
              <span class="overview-box__label">Difficulty</span>
              <span class="overview-box__text">{{tour.difficulty}}</span>
            </div>
            <div class="overview-box__detail">
              <svg class="overview-box__icon">
                <use xlink:href="./../../../assets/img/icons.svg#icon-user"></use>
              </svg>
              <span class="overview-box__label">Participants</span>
              <span class="overview-box__text">{{tour.maxGroupSize}} people</span>
            </div>
            <div class="overview-box__detail">
            
              <div *ngIf="tour.ratingsAverage">
                <svg class="overview-box__icon">
                    <use xlink:href="./../../../assets/img/icons.svg#icon-star"></use>
                  </svg>
                   <span class="overview-box__label">Rating</span>
              <span class="overview-box__text">{{tour.ratingsAverage}} / 5</span>
              </div>
            </div>
          </div>

          <div class="overview-box__group">
            <h2 class="heading-secondary ma-bt-lg">Your tour guides</h2>

            <div class="overview-box__detail">
              <img
                src="./../../../assets/img/users/user-19.jpg"
                alt="Lead guide"
                class="overview-box__img"
              />
              <span class="overview-box__label">Lead guide</span>
              <span class="overview-box__text">Steven Miller</span>
            </div>
            <div class="overview-box__detail">
              <img
                src="./../../../assets/img/users/user-18.jpg"
                alt="Tour guide"
                class="overview-box__img"
              />
              <span class="overview-box__label">Tour guide</span>
              <span class="overview-box__text">Lisa Brown</span>
            </div>
            <div class="overview-box__detail">
              <img
                src="./../../../assets/img/users/user-17.jpg"
                alt="Intern"
                class="overview-box__img"
              />
              <span class="overview-box__label">Intern</span>
              <span class="overview-box__text">Max Smith</span>
            </div>
          </div>
        </div>
      </div>

      <div class="description-box">
        <h2 class="heading-secondary ma-bt-lg"> {{tour.name}}</h2>
        <p class="description__text">
          {{tour.summary}}
        </p>
      </div>
    </section>
  
      <form *ngIf="!tour.images.length">
        <label for="files">Select files:</label>
        <input type="file" (change)="onFilesSelected($event)" multiple ><br><br>
        <button class="btn btn-primary" (click)="uploadMultiple()" [hidden]="submitting">upload files</button>
        <button class="btn btn-info"  [hidden]="!submitting">uploading...</button>
      </form>

        <section class="section-pictures" *ngIf="tour.images.length">
    <div class="picture-box" *ngFor="let i of tour.images">
      <img 
        class="picture-box__img picture-box__img--1"
        src="{{imageUrl}}/{{i}}"
        alt="The Park Camper Tour 1" 
      >
    </div>
    
    <form *ngIf="user.role === 'admin'">
      <label for="files">Select files:</label>
      <input type="file" (change)="onFilesSelected($event)" multiple ><br><br>
      <button class="btn btn-primary" (click)="uploadMultiple()" [hidden]="submitting">upload files</button>
      <button class="btn btn-info"  [hidden]="!submitting">uploading...</button>
    </form>
    </section> 

    <app-get-reviews [user]="user"></app-get-reviews>
   
    <section class="section-cta">
      <div class="cta">
        <div class="cta__img cta__img--logo">
          <img src="./../../../assets/img/logo-white.png" alt="Natours logo" class="" />
        </div>
        <img src="./../../../assets/img/tour-5-2.jpg" alt="" class="cta__img cta__img--1" />
        <img src="./../../../assets/img/tour-5-1.jpg" alt="" class="cta__img cta__img--2" />

        <div class="cta__content">
          <h2 class="heading-secondary">What are you waiting for?</h2>
          <p class="cta__text">
            {{tour.duration}} days. 1 adventure. Infinite memories. Make it yours today!
          </p>
          <button class="btn btn--green span-all-rows">Book tour now!</button>
        </div>
      </div>
    </section>
<app-footer></app-footer>
