<h2>edit tour </h2>
<form class="form-group">
    <label for="name">name</label>
    <input class="form-control" type="text"  placeholder="{{oldTour.name}}" name="name" [(ngModel)]="tour.name">
    <label for="duration">duration</label>
    <input class="form-control" type="number" placeholder="{{oldTour.duration}}" name="duration" [(ngModel)]="tour.duration">

    <label for="price">price</label>
    <input class="form-control" type="number" placeholder="{{oldTour.price}}" name="price" [(ngModel)]="tour.price">

    <label for="startLocation">startLocation</label>
    <input class="form-control" type="text" placeholder="Start Location" name="startLocation" [(ngModel)]="tour.startLocation.description">

    <label for="locations">Add Location</label>
    <input class="form-control" type="text" placeholder="Location description" name="description" [(ngModel)]="tour.locations.description"> 
    <label for="locations">coordinates</label>
    <input class="form-control" type="number" placeholder="longitude" name="longitude" [(ngModel)]="tour.locations.longitude"> 
    <input class="form-control" type="number" placeholder="latitude" name="latitude" [(ngModel)]="tour.locations.latitude"> 
    <br>
    <label for="startDate">startDate</label>
    <input class="form-control" type="Date" placeholder="startDate" name="startDate" [(ngModel)]="tour.startDate"> 
    <br>

    <label for="summary">summary</label>
    <input class="form-control" type="text" placeholder="{{oldTour.summary}}" name="summary" [(ngModel)]="tour.summary">
    
    <label for="startDate">startDate</label>
    <input class="form-control" type="date" placeholder="startDate" name="startDate" [(ngModel)]="tour.startDate" required>

    <label for="difficulty">difficulty</label> <br>
    <input type="radio" name="difficulty" value="easy" [(ngModel)]="tour.difficulty">
    <label for="easy">easy</label><br>
    <input type="radio"  name="difficulty" value="medium" [(ngModel)]="tour.difficulty">
    <label for="medium">medium</label><br>
    <input type="radio"  name="difficulty" value="difficult"  [(ngModel)]="tour.difficulty">
    <label for="difficult">difficult</label><br>

    <label for="maxGroupSize">maxGroupSize</label>
    <input class="form-control" type="number" placeholder="{{oldTour.maxGroupSize}}" name="maxGroupSize"
        [(ngModel)]="tour.maxGroupSize">


    <label for="image">Choose Image</label>
    <input class="form-control" type="file" (change)="onFileSelected($event)">

    <button  [hidden]="submitting" class="btn btn-primary" (click)="editTour(tour)">submit</button>
    <button [hidden]="!submitting" class="btn btn-info">submitting...</button>
</form>

<a routerLink="/tours/getTours">go back</a>
